<?xml version="1.0" ?>
<robot name="agiletaur">
    <webots>
        <!-- <device reference="lidar" type="Lidar">
            <ros>
                <enabled>true</enabled>
                <updateRate>5</updateRate>
                <topicName>/scan</topicName>
                <alwaysOn>false</alwaysOn>
                <frameName>lidar</frameName>
            </ros>
        </device> -->

        <!-- <plugin type="webots_ros2_driver::Ros2IMU">
            <enabled>true</enabled>
            <topicName>/imu</topicName>
            <alwaysOn>false</alwaysOn>
            <frameName>imu_link</frameName>
            <inertialUnitName>imu</inertialUnitName>
            <gyroName>gyro</gyroName>
            <accelerometerName>accelerometer</accelerometerName>
        </plugin> -->

        <!-- <device reference="camera" type="Camera">
            <ros>
                <topicName>/camera</topicName>
            </ros>
        </device> -->

        <!-- <device reference="gps" type="GPS">
            <ros>
                <enabled>true</enabled>
                <alwaysOn>true</alwaysOn>
            </ros>
        </device> -->

        <plugin type="webots_ros2_control::Ros2Control" />
    </webots>

    <ros2_control name="WebotsControl" type="system">
        <hardware>
            <plugin>webots_ros2_control::Ros2ControlSystem</plugin>
        </hardware>
        <joint name="joint0"></joint>
        <joint name="joint1"></joint>
    </ros2_control>
</robot>
